[
  {
    "scope": "https://xray.us-east-1.amazonaws.com:443",
    "method": "POST",
    "path": "/TraceSummaries",
    "body": {
      "StartTime": 1515240998,
      "EndTime": 1515258998
    },
    "status": 200,
    "response": {
      "ApproximateTime": 1515258000,
      "NextToken": "7VbuXJChuTb9a4geNvxxYzPD62nxibjO8H2NT6u17cO21MThMvIVFFNcpd1tc2sQ",
      "TraceSummaries": [
        {
          "Annotations": {},
          "Duration": 9.265,
          "HasError": false,
          "HasFault": false,
          "HasThrottle": false,
          "Http": {
            "ClientIp": null,
            "HttpMethod": null,
            "HttpStatus": 200,
            "HttpURL": null,
            "UserAgent": null
          },
          "Id": "1-5a51027f-2fd928207ade26947d6460e2",
          "IsPartial": null,
          "ResponseTime": 9.265,
          "ServiceIds": null,
          "Users": []
        },
        {
          "Annotations": {},
          "Duration": 2.641,
          "HasError": false,
          "HasFault": false,
          "HasThrottle": false,
          "Http": {
            "ClientIp": null,
            "HttpMethod": null,
            "HttpStatus": 200,
            "HttpURL": null,
            "UserAgent": null
          },
          "Id": "1-5a51028f-13fd3f482d2567553de8ddc5",
          "IsPartial": null,
          "ResponseTime": 2.641,
          "ServiceIds": null,
          "Users": []
        }
      ],
      "TracesProcessedCount": 2
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "x-amzn-RequestId",
      "fbe2090e-09c2-11e8-9eac-830298698120"
    ]
  },
[...]
  {
    "scope": "https://xray.us-east-1.amazonaws.com:443",
    "method": "POST",
    "path": "/Traces",
    "body": {
      "TraceIds": [
        "1-5a50dc3f-068780e01b7e3f4148ed0c09"
      ]
    },
    "status": 200,
    "response": {
      "NextToken": null,
      "Traces": [
        {
          "Duration": 1.43,
          "Id": "1-5a50dc3f-068780e01b7e3f4148ed0c09",
          "Segments": [
            {
              "Document": "{\"id\":\"5fad960922fcbf8b\",\"name\":\"nodejs-test-dev-hello\",\"start_time\":1.515248703955E9,\"end_time\":1.515248705385E9,\"http\":{\"response\":{\"status\":200}},\"aws\":{\"request_id\":\"62f1960b-f2ed-11e7-a92b-1bd48a4989b3\"},\"trace_id\":\"1-5a50dc3f-068780e01b7e3f4148ed0c09\",\"origin\":\"AWS::Lambda\",\"resource_arn\":\"arn:aws:lambda:us-east-1:123456789012:function:nodejs-test-dev-hello\"}",
              "Id": "5fad960922fcbf8b"
            },
            {
              "Document": "{\"id\":\"675ade1067fc25a7\",\"name\":\"nodejs-test-dev-hello\",\"start_time\":1.515248703964E9,\"end_time\":1.515248705365E9,\"parent_id\":\"5fad960922fcbf8b\",\"aws\":{\"function_arn\":\"arn:aws:lambda:us-east-1:123456789012:function:nodejs-test-dev-hello\",\"resource_names\":[\"nodejs-test-dev-hello\"],\"account_id\":\"123456789012\"},\"trace_id\":\"1-5a50dc3f-068780e01b7e3f4148ed0c09\",\"origin\":\"AWS::Lambda::Function\",\"subsegments\":[{\"id\":\"278df6f59dd3b4f4\",\"name\":\"S3\",\"start_time\":1.515248704365E9,\"end_time\":1.515248704685E9,\"http\":{\"response\":{\"status\":200}},\"aws\":{\"operation\":\"PutObjectTagging\",\"region\":\"us-east-1\",\"request_id\":\"B3C65AC9C44CE3B8\",\"retries\":0,\"id_2\":\"2q2wbxb9Atz+e5VJxOsxXEEjvu5tWV+qc6lVFBaHkJr4TLmx84L2enA2TNWl1fLdzeNYXptvqJo=\",\"bucket\":\"fone-demo-test-bucket\",\"key\":\"nodejs-test-object\",\"bucket_name\":\"fone-demo-test-bucket\"},\"namespace\":\"aws\"},{\"id\":\"b66ee9d1c08acc4e\",\"name\":\"S3\",\"start_time\":1.515248705125E9,\"end_time\":1.515248705206E9,\"http\":{\"response\":{\"status\":200}},\"aws\":{\"operation\":\"GetObject\",\"region\":\"us-east-1\",\"request_id\":\"3073203B8FB88880\",\"retries\":0,\"id_2\":\"E0W/bwduWijO+aYJQET0RAPNbrcIsMPYhLSsoQrRJ3XCtiLU9NwnLf8ezmED0b0Pt+KKsbEMGxM=\",\"bucket\":\"fone-demo-test-bucket\",\"key\":\"nodejs-test-object\",\"bucket_name\":\"fone-demo-test-bucket\",\"resource_names\":[\"fone-demo-test-bucket\"]},\"namespace\":\"aws\"},{\"id\":\"d9f463ed7d61dbb4\",\"name\":\"DynamoDB\",\"start_time\":1.515248704804E9,\"end_time\":1.515248705025E9,\"http\":{\"response\":{\"status\":200}},\"aws\":{\"operation\":\"DeleteItem\",\"region\":\"us-east-1\",\"request_id\":\"RT3K82394OTE00PSV4BACS2SPFVV4KQNSO5AEMVJF66Q9ASUAAJG\",\"retries\":0,\"table_name\":\"gen-docs\",\"consumed_capacity\":{\"TableName\":\"gen-docs\",\"CapacityUnits\":1},\"resource_names\":[\"gen-docs\"]},\"namespace\":\"aws\"},{\"id\":\"98d4a2b7a24a031e\",\"name\":\"DynamoDB\",\"start_time\":1.515248704545E9,\"end_time\":1.515248704785E9,\"http\":{\"response\":{\"status\":200}},\"aws\":{\"operation\":\"Scan\",\"region\":\"us-east-1\",\"request_id\":\"6IOATEDKJ76JF0KQLP2FM1BV33VV4KQNSO5AEMVJF66Q9ASUAAJG\",\"retries\":0,\"table_name\":\"gen-docs\",\"consumed_capacity\":{\"TableName\":\"gen-docs\",\"CapacityUnits\":0.5},\"count\":2,\"scanned_count\":2,\"resource_names\":[\"gen-docs\"]},\"namespace\":\"aws\"},{\"id\":\"cf686080f5a8c842\",\"name\":\"S3\",\"start_time\":1.515248704904E9,\"end_time\":1.515248705086E9,\"http\":{\"response\":{\"status\":200}},\"aws\":{\"operation\":\"ListObjectsV2\",\"region\":\"us-east-1\",\"request_id\":\"5AE1BC466AEE883E\",\"retries\":0,\"id_2\":\"iPSuZP4KGcX3BphWXcNnY7NDg0B4oQ2ijpfFoyfeom1WFm3E4uwWNBGqO8Duy5/t28HeQEJg2ik=\"},\"namespace\":\"aws\"},{\"id\":\"3a45254d04b886c4\",\"name\":\"S3\",\"start_time\":1.[...]
[...]
  {
    "scope": "https://xray.us-east-1.amazonaws.com:443",
    "method": "POST",
    "path": "/Traces",
    "body": {
      "TraceIds": [
        "1-5a51f9ee-efb6f5b54f4ea2b0ac197301",
        "1-5a51fab4-a73e53088a1362643f12d8fc",
        "1-5a51fa94-046ac72b74344968d10af3f6",
        "1-5a51f210-d4243b730e62a021353f0a65",
        "1-5a51e630-1b951bca57e5179c0c9efd48"
      ]
    },
    "status": 200,
    "response": {
      "NextToken": null,
      "Traces": [
        {
          "Duration": 0.917,
          "Id": "1-5a51fab4-a73e53088a1362643f12d8fc",
          "Segments": [
            {
              "Document": "{\"id\":\"090d31cd728a7db5\",\"name\":\"java-test-dev-hello\",\"start_time\":1.51532203675E9,\"end_time\":1.515322037631E9,\"parent_id\":\"2cae46a492c80bba\",\"aws\":{\"function_arn\":\"arn:aws:lambda:us-east-1:123456789012:function:java-test-dev-hello\",\"resource_names\":[\"java-test-dev-hello\"],\"account_id\":\"123456789012\"},\"trace_id\":\"1-5a51fab4-a73e53088a1362643f12d8fc\",\"origin\":\"AWS::Lambda::Function\",\"subsegments\":[{\"id\":\"428b640d2827cc33\",\"name\":\"S3\",\"start_time\":1.515322037097E9,\"end_time\":1.515322037157E9,\"http\":{\"response\":{\"status\":200,\"content_length\":0}},\"aws\":{\"operation\":\"SetObjectTagging\",\"request_id\":\"77FA2A284D7723E4\",\"key\":\"java-test/test-object\",\"bucket_name\":\"fone-demo-test-bucket\",\"id_2\":\"tu9n7ao4287q6SXN6fGQ1Y9TSLgfVT+pZodi5tMbVa2KBtIvxVLWRbCjUeYL0SGFLwhRJg5FCvA=\"},\"namespace\":\"aws\"},{\"id\":\"241bd49b80b47175\",\"name\":\"DynamoDB\",\"start_time\":1.515322036752E9,\"end_time\":1.515322036813E9,\"http\":{\"response\":{\"status\":200,\"content_length\":2}},\"aws\":{\"table_name\":\"gen-docs\",\"operation\":\"PutItem\",\"request_id\":\"V3U0RMFOEFJDIMHEM5VKB0FDFBVV4KQNSO5AEMVJF66Q9ASUAAJG\",\"resource_names\":[\"gen-docs\"]},\"namespace\":\"aws\"},{\"id\":\"4fbeed6fb607c52a\",\"name\":\"DynamoDB\",\"start_time\":1.515322036814E9,\"end_time\":1.515322036851E9,\"http\":{\"response\":{\"status\":200,\"content_length\":119}},\"aws\":{\"table_name\":\"gen-docs\",\"operation\":\"GetItem\",\"request_id\":\"V1E773GC4M13TUFQAP1TBAUBVBVV4KQNSO5AEMVJF66Q9ASUAAJG\",\"resource_names\":[\"gen-docs\"]},\"namespace\":\"aws\"},{\"id\":\"3c786f29892c1ff5\",\"name\":\"S3\",\"start_time\":1.515322037491E9,\"end_time\":1.515322037533E9,\"http\":{\"response\":{\"status\":200}},\"aws\":{\"delimiter\":\"/\",\"prefix\":\"java-test/\",\"bucket_name\":\"fone-demo-test-bucket\",\"operation\":\"ListObjects\",\"request_id\":\"DB6C5BC1DB5723A9\",\"id_2\":\"v1PL28hq0eiGZHiiAtK2seYIdVameR92ErfH/NPx/zfrtr55c7HBDJIpjW5MBnSC8krjetndZMc=\",\"resource_names\":[\"fone-demo-test-bucket\"]},\"namespace\":\"aws\"},{\"id\":\"2db0d1231195fe04\",\"name\":\"S3\",\"start_time\":1.51532203759E9,\"end_time\":1.5153220376E9,\"http\":{\"response\":{\"status\":204}},\"aws\":{\"operation\":\"DeleteObject\",\"request_id\":\"C4039B8636947C[...]
[...]
