# package directories
node_modules
#dist is only for the package
dist
#ignore npm pack output
aws-least-privilege-*.tgz
#ignore generated policy.json files
*.policy.json
#ignore log
xray-scan.log
#ignore excessive report
excessive_permissions.json


